[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/libigl"]
	path = Vendor/libigl
	url = https://github.com/libigl/libigl.git
[submodule "Vendor/lodepng"]
	path = Vendor/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "Vendor/cereal"]
	path = Vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/mapping"]
	path = Vendor/mapping
	url = https://github.com/patr-schm/surface-maps-via-adaptive-triangulations
